body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(109.6deg, rgba(247, 202, 201, 1) 20.6%, rgba(146, 168, 209, 1) 85.9%);
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

canvas {
    position: absolute;
}

#videoInput {
    margin-bottom: 50px;
    border: 9px outset rgb(199, 126, 86);
    border-radius: 15px;
    background-color: #000;
}
@keyframes slideInLeft {
    0% {
      transform: translatey(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
button {
    margin-bottom: 20px;
    animation: 0.5s ease-out 0s 1 slideInLeft;
        /* background: #666; */
}

.button {
    display: inline-block;
    /* background-color: #f4511e; */
    /* background-image: linear-gradient( 179.1deg,  rgba(247,238,238,1) -1.9%, rgba(247,202,201,1) 44.9%, rgba(145,168,208,1) 96.1% );
 /* */

    background-color: rgb(251, 72, 111);
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 235px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border: none;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#att {
    /* margin-bottom: 20px; */
    display: none;
    
}

.ton {
    display: inline-block;
    background-color: #af5c58;
    /* background-image: linear-gradient( 68.2deg,  rgb(145, 125, 82) 0%, rgba(139,73,255,1) 100.2% ); */
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 235px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border: none;
}

.ton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.ton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.ton:hover span {
    padding-right: 25px;
}

.ton:hover span:after {
    opacity: 1;
    right: 0;
}

.hidden {
    display: none;
}

table {
    border-spacing: 0;
    font-size: large;
    border: 3px solid rgb(199, 126, 86);
    border-radius: 6px;
    /* border-collapse: collapse; */
    align-items: center;
    transition: 0.5s;
}

td {
    padding: 10px 20px;
    border: 1px solid #000;
    padding-right: 106px;
    font-weight: 900;
}

th {
    padding: 10px 20px;
    border: 1px solid #000;
    padding-right: 106px;
    font-weight: 1900;
}

#afterr {
    font-weight: 600;
    background-image: linear-gradient(to left, #484749, #442366);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 63px;
    margin-bottom: 6px;
    margin-top: 0;
}

.lett {
    display: none;
}

video::-webkit-media-controls-play-button {
    display: none;
}

video::-webkit-media-controls-mute-button {
    display: none;
}

video::-webkit-media-controls-timeline {
    display: none;
}

video::-webkit-media-controls-current-time-display {
    display: none;
}

p {
    color: #efd3a2;
    background-image: linear-gradient(to left, #484749, #442366);
    font-family: monospace;
    font-weight: 600;
    padding: 12px;
    font-size: 16px;
    margin-right:60px;
}

#about {
    /* display: inline-block; */
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px 10px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(48, 93, 176);
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px rgba(247, 202, 201, 1);
    transition: 0.3s;
}

#about:hover {
    background-color: #17336e;
}

#about:active {
    background-color: #155bff;
    /* background-color: ; */
    box-shadow: 0 5px rgba(247, 202, 201, 1);
    transform: translateY(4px);
}
.exportt {
    /* display: inline-block; */
    padding: 10px 10px;
    font-size: 14px;
    margin-left: 60px;
    margin-top: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(48, 93, 176);
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px rgba(247, 202, 201, 1);
    transition: 0.3s;
}

.exportt:hover{
    background-color: #17336e;
}

.exportt:active {
    background-color: #155bff;
    /* background-color: ; */
    box-shadow: 0 3px rgba(247, 202, 201, 1);
    transform: translateY(4px);
}
div{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}